.home
    section.page-header
       h1.project-name 來黑客松吧！
       h3.project-tagline 不要問為什麼沒有人做這個，先承認你就是「沒有人」！
       a.btn.btn-large(href='http://g0v.tw/hacklog.html') 過往活動
       a.btn.btn-large(href='http://beta.hackfoldr.org/g0v-hackath21n') 當期黑客松共筆
       a.btn.btn-large(href='http://g0v.tw/zh-TW/join.html') 參加指南

    section.main-content
      p 這裡是 g0v 台灣零時政府大黑客松的協作入口站，有當期黑客松資訊，以及過往協作紀錄資料。累積了 2012 年底以來每次百人黑客松的共筆、錄影、及各項成果。
      h3
        a.anchor(id='活動預告', href='#%E9%80%99%E8%A3%8F%E6%9C%83%E6%9C%89%E4%BB%80%E9%BA%BC', aria-hidden='true')
          span.octicon.octicon-link
        | 活動預告
      | ▸ 第貳拾壹次黑客松將於
      u
        b 2016/10/15
      | 舉辦，
      u
        b 2016/10/3
      | 中午12點開始報名。
      p
      | ▸ 社群大小黑客松報名會自動更新在 
      a(href="http://g0v.tw/") g0v.tw 首頁
      | 右上角「最新活動」，或關注 
      a(href="http://g0v.tw/en-US/actinfo.html") g0v 社群行事曆
      |。

      h3
        a.anchor(id='立即行動', href='#%E9%80%99%E8%A3%8F%E6%9C%83%E6%9C%89%E4%BB%80%E9%BA%BC', aria-hidden='true')
          span.octicon.octicon-link
        | 立即行動
      p 希望 g0v 社群能量持續嗎？你可以報名參加黑客松貢獻一己之力，或捐款贊助每兩個月一次的百人大松 :)

    section.main-content.text-center
       a.btn.btn-warning.btn-large(href="http://g0v-jothon.kktix.cc/events/g0v-hackath21n") 報名 10/15 黑客松 (2016/10/3 正午開放)
       p
       a.btn.btn-success.btn-large(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=23") 單筆贊助黑客松香油票
       a.btn.btn-info.btn-large(href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=18") 成為定期定額捐款人

    //-section.main-content
      h3
        a.anchor(id='立即行動', href='#%E9%80%99%E8%A3%8F%E6%9C%83%E6%9C%89%E4%BB%80%E9%BA%BC', aria-hidden='true')
          span.octicon.octicon-link
    //    | 「沒有人幫你煮咖啡」掛耳包贊助計畫
      p
      img.hack.floated.ui.image(src='/img/coffee.jpeg', width="280px",style="margin: 1rem", align="left")
      p
      p g0v 社群廣為流傳的金句「不要問為什麼沒有人作這個，先承認你就是沒有人」進化了！
      p 「沒有人」不僅萬能，還會煮咖啡～
      p 3/5 黑客松有提供咖啡掛耳包500包，錯過但仍想贊助的沒有人，請按鈕取票 ↓↓

    //section.main-content.text-center
       a.btn.btn-warning.btn-large(href="http://ocf.tw/donate/g0v.html") 贊助咖啡票
    section.main-content
      h3
        a.anchor(id='訂閱電子報',href='#%E8%A8%82%E9%96%B1%E9%9B%BB%E5%AD%90%E5%A0%B1',aria-hidden='true')
          span.octicon.octicon-link
        | 訂閱電子報
      p 想要定期收到關於零時政府黑客松的最新資訊嗎？現在就訂閱揪松團電子報吧！
      br
      iframe(src="http://g0v.us13.list-manage.com/subscribe?u=688c0f30e2af41c2fa09114f2&id=24c8450e9a",style="width:100%;height:500px;border:1px solid #999;border-radius:3px")

    section.main-content.site-footer
      | ▌g0v 雙月大松由
      a(href="http://g0v-jothon.kktix.cc/") g0v 揪松團
      | 舉辦，相關事宜可聯繫
      a(href="mailto:g0v-jothon@googlegroups.com") g0v-jothon@googlegroups.com
      |，願意幫忙大松籌辦請來
      a(href="http://join.g0v.today") g0v slack 聊天室
      |  的 jothon 群組逛逛 :)


      //iframe(class="kktix",src="https://kktix.com/tickets_widget?slug=g0v-dathon",frameborder="0",height="420",width="100%",vspace="0",hspace="0",marginheight="5",marginwidth="5",scrolling="auto",allowtransparency="true")
