.home
    section.page-header
       h1.project-name 來黑客松吧！
       h2.project-tagline 不要問為什麼沒有人做這個，先承認你就是「沒有人」！
       a.btn.btn-large(href='http://g0v.tw/zh-TW/actrecord.html') 過往活動
       a.btn.btn-large(href='/g0v-hackath16n') 當期黑客松 10/24
       a.btn.btn-large(href='http://g0v.tw/zh-TW/join.html') 參加指南
     section.main-content.text-center
       a.btn.btn-success.btn-large(href="http://g0v-jothon.kktix.cc/events/g0v-hackath16n") 報名 (10/12 開放)
       a.btn.btn-info.btn-large(href="http://g0v-jothon.kktix.cc/events/g0v-dathon") 捐款支持




       //iframe(class="kktix",src="https://kktix.com/tickets_widget?slug=g0v-dathon",frameborder="0",height="420",width="100%",vspace="0",hspace="0",marginheight="5",marginwidth="5",scrolling="auto",allowtransparency="true")
