ul.nav
  li
    a(ng-href='/') 自由黑客示範區首頁
  li.dropdown-split-right.dropdown
    a.dropdown-toggle
      | 各期黑客松
      i.icon-caret-down
    ul.dropdown-menu.pull-right(role='menu', aria-labelledby='projects')
      li
        a(ng-href='/g0v-hackath9n') 還我土地/20140621
      li
        a(ng-href='/g0v-hackath8n') 解除戒嚴/20140419
      li
        a(ng-href='/g0v-hackath7n') 自由時代/20140222
      li
        a(ng-href='/g0v-hackath6n') 勞動基準/20131221
      li
        a(ng-href='/g0v-hackath5n') 美麗島/20131020
      li
        a(ng-href='/g0v-hackath4n') 國民大會/20130810
      li
        a(ng-href='/g0v-hackath3n') 客廳工廠/20130606
      li
        a(ng-href='/g0v-hackath2n') 九大建設/20130323
      li
        a(href='https://hackpad.com/lIoCjaeMWzC') 公地放領/20130127
      li
        a(href='https://hackpad.com/ul6fMthof2S') 動員戡亂/20121201
      li
        a(target='_blank' href='https://www.google.com/calendar/embed?src=cpcf6iv5pt9l6gl2ue3svo63e8%40group.calendar.google.com&ctz=Asia/Taipei') 社群行事曆  
  li.dropdown
    a.dropdown-toggle
      | 長期專案
      i.icon-caret-down
    ul.dropdown-menu.pull-right(role='menu', aria-labelledby='projects')
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/meta') 基礎建設
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/g0v-ly') 立法院專案
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/3du') 萌典
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/don-democracy') 動民主家族
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/g0vwelfare') 福利請聽
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/kuansim') 鄉民關心你
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/tisa') 服貿協議
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/g0v-cy') 開放政治獻金  

  li.dropdown
    a.dropdown-toggle
      | 協作
      i.icon-caret-down
    ul.dropdown-menu.pull-right(role='menu', aria-labelledby='projects')
      li(role='presentation')
        a(target="_blank" href='https://github.com/orgs/g0v/dashboard') github 動態
      li(role='presentation')
        a(target="_blank" href='https://g0v.hackpad.com/') hackpad 共筆動態
      li(role='presentation')
        a(target="_blank" href='https://drive.google.com/folderview?id=0B0NsS2a-Qx8ZN19uV1p6YWd6TXc#') google drive 動態
  li.dropdown
    a.dropdown-toggle
      | 討論
      i.icon-caret-down
    ul.dropdown-menu.pull-right(role='menu', aria-labelledby='projects')
      li(role='presentation')
        a(target="_blank" role='menuitem', tabindex='-1',ng-href='/irc') IRC 聊天室
      li(role='presentation')
        a(target="_blank" href='http://logbot.g0v.tw/') IRC 聊天紀錄 
      li(role='presentation')
        a(target="_blank" href='https://groups.google.com/forum/#!forum/g0v-general') googlegroups 論壇
      li(role='presentation')
        a(target="_blank" href='http://community.g0v.tw') 新後勤中心
  li.dropdown
    a.dropdown-toggle
      | 資源
      i.icon-caret-down
    ul.dropdown-menu.pull-right(role='menu', aria-labelledby='projects')
      li(role='presentation')
        a(target="_blank" role='menuitem', tabindex='-1',ng-href='/project') 專案列表
      li(role='presentation')
        a(target="_blank" href='http://data.g0v.tw/') 資料集 
      li(role='presentation')
        a(target="_blank" href='http://g0v.github.io/moc-license-center/index.html') g0v 授權中心
      li(role='presentation')
        a(target="_blank" href='http://g0v.github.io/moc-license-center/software.html') g0v 軟體中心


  
  li
    a(target="_blank",href='http://g0v.github.io/leve1up/')
      | 新手上路
      span.label.label-important 看過來
