a.item(ng-href='/') 自由黑客示範區首頁
.item.ui.simple.dropdown
  | 各期黑客松
  i.dropdown.icon
  .menu(aria-labelledby='projects')
    a.item(ng-href='/g0v-hackath9n') 還我土地/20140621
    a.item(ng-href='/g0v-hackath8n') 解除戒嚴/20140419
    a.item(ng-href='/g0v-hackath7n') 自由時代/20140222
    a.item(ng-href='/g0v-hackath6n') 勞動基準/20131221
    a.item(ng-href='/g0v-hackath5n') 美麗島/20131020
    a.item(ng-href='/g0v-hackath4n') 國民大會/20130810
    a.item(ng-href='/g0v-hackath3n') 客廳工廠/20130606
    a.item(ng-href='/g0v-hackath2n') 九大建設/20130323
    a.item(href='https://hackpad.com/lIoCjaeMWzC') 公地放領/20130127
    a.item(href='https://hackpad.com/ul6fMthof2S') 動員戡亂/20121201
    a.item(target='_blank' href='https://www.google.com/calendar/embed?src=cpcf6iv5pt9l6gl2ue3svo63e8%40group.calendar.google.com&ctz=Asia/Taipei') 社群行事曆
.item.ui.simple.dropdown
  | 長期專案
  i.dropdown.icon
  .menu(aria-labelledby='projects')
    a.item(ng-href='/projectpool') g0v專案池
    a.item(ng-href='/meta') 社群基礎建設
    a.item(ng-href='/g0v-ly') 立法院專案
    a.item(ng-href='/3du') 萌典
    a.item(ng-href='/don-democracy') 動民主家族
    a.item(ng-href='/g0vwelfare') 福利請聽
    a.item(ng-href='/kuansim') 鄉民關心你
    a.item(ng-href='/tisa') 服貿協議
    a.item(ng-href='/g0v-cy') 開放政治獻金
    a.item(ng-href='/g0v-summit2014') 2014 summit
.item.ui.simple.dropdown
  | 協作
  i.dropdown.icon
  .menu(aria-labelledby='projects')
    a.item(target="_blank" ng-href='/project') 專案列表
    a.item(target="_blank" href='https://github.com/g0v') github 動態
    a.item(target="_blank" href='https://g0v.hackpad.com/') hackpad 共筆動態
    a.item(target="_blank" href='https://drive.google.com/folderview?id=0B0NsS2a-Qx8ZN19uV1p6YWd6TXc#') google drive 動態
.item.ui.simple.dropdown
  | 討論
  i.dropdown.icon
  .menu(aria-labelledby='community')
    a.item(target="_blank" ng-href='/irc') IRC 聊天室
    a.item(target="_blank" href='http://logbot.g0v.tw/') IRC 聊天紀錄
    a.item(target="_blank" href='https://groups.google.com/forum/#!forum/g0v-general') googlegroups 論壇
    a.item(target="_blank" href='http://community.g0v.tw') 新後勤中心
.item.ui.simple.dropdown
  | 資源
  i.dropdown.icon
  .menu(aria-labelledby='resources')
    a.item(target="_blank" href='http://data.g0v.tw/') 資料集
    a.item(target="_blank" href='http://g0v.github.io/moc-license-center/index.html') g0v 授權中心
    a.item(target="_blank" href='http://g0v.github.io/moc-license-center/software.html') g0v 軟體中心
a.item(target="_blank",href='http://g0v.github.io/leve1up/') 新手上路
  span.ui.label.important 看過來
