ul.nav
  li
    a(ng-href='/') 揪松網
  li.dropdown-split-right.dropdown
    button.btn-link.dropdown-toggle(type='button', aria-haspopup='true')
      | 各期黑客松共筆
      i.icon-caret-down(aria-hidden='true')
    ul.dropdown-menu.pull-right(role='menu')
      li
        a(ng-href='/g0v-hackath19n') 飛彈試射/20160618
      li
        a(ng-href='/g0v-hackath18n') 亞太營運/20160305
      li
        a(ng-href='/g0v-hackath17n') 立委改選/20151226
      li
        a(ng-href='/g0v-hackath16n') 刑法一百/20151024
      li
        a(ng-href='/g0v-hackath15n') 資料科學/20150822-23
      li
        a(target='_blank' href='https://www.google.com/calendar/embed?src=cpcf6iv5pt9l6gl2ue3svo63e8%40group.calendar.google.com&ctz=Asia/Taipei') 社群行事曆
  //li.dropdown
    button.btn-link.dropdown-toggle(type='button', aria-haspopup='true')
      | 長期專案
      i.icon-caret-down(aria-hidden='true')
    ul.dropdown-menu.pull-right(role='menu')
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/projectpool') g0v專案池
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/meta') 社群基礎建設
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/g0v-ly') 立法院專案
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/3du') 萌典
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/don-democracy') 動民主家族
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/g0vwelfare') 福利請聽
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/kuansim') 鄉民關心你
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/tisa') 服貿協議
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/g0v-cy') 開放政治獻金
      li(role='presentation')
        a(role='menuitem', tabindex='-1',ng-href='/g0v-summit2014') 2014 summit
  li.dropdown
    button.btn-link.dropdown-toggle(type='button', aria-haspopup='true')
      | 協作平台
      i.icon-caret-down(aria-hidden='true')
    ul.dropdown-menu.pull-right(role='menu')(role='menu', aria-labelledby='projects')
      li(role='presentation')
        a(target="_blank" role='menuitem', tabindex='-1',ng-href='/project') 專案列表
      li(role='presentation')
        a(target="_blank" href='https://github.com/g0v') g0v github
      li(role='presentation')
        a(target="_blank" href='https://g0v.hackpad.com/') g0v hackpad
      li(role='presentation')
        a(target="_blank" href='https://drive.google.com/folderview?id=0B0NsS2a-Qx8ZN19uV1p6YWd6TXc#') g0v google drive
   li.dropdown
    button.btn-link.dropdown-toggle(type='button', aria-haspopup='true')
      | 討論
      i.icon-caret-down(aria-hidden='true')
    ul.dropdown-menu.pull-right(role='menu')
      li(role='presentation')
        a(target="_blank" role='menuitem', tabindex='-1',ng-href='/irc') IRC 聊天室
      li(role='presentation')
        a(target="_blank" href='http://logbot.g0v.tw/') IRC 聊天紀錄
      li(role='presentation')
        a(target="_blank" href='https://groups.google.com/forum/#!forum/g0v-general') googlegroups 論壇
      li(role='presentation')
        a(target="_blank" href='http://community.g0v.tw') 新後勤中心
      li(role='presentation')
        a(target="_blank" href='/mail-archive') 過往電子報
  li.dropdown
    button.btn-link.dropdown-toggle(type='button', aria-haspopup='true')
      | 資源
      i.icon-caret-down(aria-hidden='true')
    ul.dropdown-menu.pull-right(role='menu')
      li(role='presentation')
        a(target="_blank" href='http://data.g0v.tw/') 資料集
      li(role='presentation')
        a(target="_blank" href='http://g0v.github.io/moc-license-center/index.html') g0v 授權中心
      li(role='presentation')
        a(target="_blank" href='http://g0v.github.io/moc-license-center/software.html') g0v 軟體中心

  li
    a(target="_blank",href='http://g0v.github.io/leve1up/')
      | 新手上路
      span.label.label-important 看過來
  li
    a(ng-href='/transaction') 收支明細
